*{
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;
    background-color: grey;
}

header
{
    display: flex;
    background-color: #0f766e;    
    padding: 50px;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

.bookcontainer{
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
}

.books
{
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: darkseagreen;
    justify-content: space-evenly;
    padding: 50px;
    color: white;
    font-weight: bold;
    border: 5px solid darkblue;
    gap: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.book
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


footer button
{
    display: flex;
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #38bdf8;
    border-radius: 50%;
    height: 6.5rem;
    width: 6.5rem;
    color: white;
    padding: 5px;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    border: 2px solid #38bdf8;
    opacity: 0.67;
}

.popup
{
    opacity: 0;
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.25);
    width: 500px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 15px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.active
{
    top: 50%;
    opacity: 1;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.popup .close-btn
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: #888;
    color: #eee;
    text-align: center;
    cursor: pointer;
    line-height: 25px;
}

.popup .form h2
{
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 35px;
}

.popup .form .form-element
{
    margin: 15px 0px;
}

.popup .form .form-element label
{
    color: #222;

}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="number"]
{
    margin: 5px;
    display: block;
    width: 95%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"]
{
    margin-right: 10px;
}

.popup .form .form-element button
{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #f5f5f5;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
}

.icons
{

    display: flex;
    gap: 40px;
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-end;
    margin-top: 20px;
    color: black;
}

icon:hover
{
    transform: scale(1.5);
}


.popup .form .form-element input[type="text"]:invalid,
.popup .form .form-element input[type="number"]:invalid{
    border:2px solid #900;
    background-color: #FDD;
  }
  
  
.popup .form .form-element input[type="text"]:focus:invalid,
.popup .form .form-element input[type="number"]:focus:invalid {
    outline: none;
  }
  
  .error {
    width  : 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }

  .error.active {
    padding: 0.3em;
  }